{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Register Yourself</title>
{% endblock meta%}

{% block content%}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/"
        ><span class="oren">PW</span>igunarta</a
    >
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
</nav>

<div class="container-fluid table-responsive">
    <h1 class="judulOren d-flex justify-content-center padding judulForm">List Kegiatan</h1>
    <div class="row">
    {% for acara in acara %}
        <table class="table col-md-4">
            <thead class="thead-dark">
                <tr>
                <th scope="col">{{acara.namaAcara}}</th>
                <th scope="col"><a type="button" class="btn btn-primary btn-large" href="{% url 'story6:register' acara.id %}">Join</a> </th>
                </tr>
            </thead>
            <tbody>
                {% for person in person %}
                    {% if person.acaraDiikuti == acara %}
                        <tr>
                            <form action="" method="POST">{% csrf_token %}
                                <input value="{{person.id}}" type="hidden" name="id">
                                <td>{{person.namaPeserta}}</td>
                                <td><button type="submit" value="Submit" class="btn button-primary">Delete</td>
                            </form>                             
                        </tr>    
                    {%endif%}               
                {% endfor %}           
            </tbody>
        </table>
    {%endfor%}
    </div>  
    <a type="button" class="btn btn-primary btn-large" href="/story6/acara/register/">Add Event</a> 
</div>
{% endblock content%}