{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block meta %}
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <title>Putu's CV</title>
  {% endblock meta %} {% block content %}
  <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#intro"
        ><span class="oren">PW</span>igunarta</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/story1">Story1</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="introcv" class="view">
    <div class="full-bg-img">
      <div class="carousel-caption">
        <h1 class="display-2 tebal"><span class="oren">Putu's</span> CV</h1>
        <h1 class="display-2 tebal">
          <span class="oren">Click</span> to Start
        </h1>
        <a type="button" class="btn btn-primary btn-large" href="#porto">
          See My CV
        </a>
      </div>
    </div>
  </div>

  <div class="CV1" id="porto"></div>

  <footer>
    <div class="container-fluid padding footer">
      <div class="col-lg-12 text-center">
        <h5 class="display-3 judulPutih">Keep in Touch!</h5>
        <h3 class="display-5 putih">
          <a href="mailto:pwigunarta@gmail.com" class="putih">Email </a>me for
          business Inquiries
        </h3>
      </div>
      <div class="row padding">
        <div class="col-12 social padding d-flex justify-content-center">
          <a
            href="https://www.facebook.com/pwigunarta"
            class="fa fa-facebook"
            target="_blank"
          ></a>
          <a
            href="https://www.instagram.com/putu.wig/"
            class="fa fa-instagram"
            target="_blank"
          ></a>
          <a
            href="https://www.linkedin.com/in/putu-wigunarta-16ba57192/"
            class="fa fa-linkedin"
            target="_blank"
          ></a>
        </div>
      </div>
    </div>
  </footer>
  {% endblock content %}
</html>
