{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block meta %}
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />

  <title>Story3 Putu</title>
  {% endblock meta %} {% block content %}
  <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#intro"
        ><span class="oren">PW</span>igunarta</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Story</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="story1/">Story1</a>
              <a class="dropdown-item" href="form/">Story5</a>
              <a class="dropdown-item" href="/story6/acara/">Story6</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#about">About Me</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#experience">Experience</a>
          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>

  <div id="intro" class="view">
    <div class="full-bg-img">
      <div class="carousel-caption">
        <h1 class="display-2 tebal"><span class="oren">Hello</span> There,</h1>
        <h1 class="display-2 tebal"><span class="oren">I'm</span> Putu</h1>
        <a type="button" class="btn btn-primary btn-large" href="CV">
          See My CV
        </a>
        <h5 class="display-5">
          <a
            href="https://drive.google.com/file/d/1t1tcombL55kepEpdUxJ-ncSwnGONi2hK/view"
            class="CV"
            target="_blank"
            >Downlaod my Portofolio here</a
          >
        </h5>
      </div>
    </div>
  </div>

  <div class="container-fluid padding about" id="about">
    <h1 class="display-4 judulPutih alittle">A Little About Me</h1>
    <div class="container-fluid kartu">
      <div class="row padding">
        <div class="col-lg-6 text">
          <p>
            An undergraduate student in Faculty of Computer Science at
            University of Indonesia. Love making Graphic Design and still
            learning about how to make a good website design.
          </p>
          <p>
            Adictive with video game since elementary school and start to
            interest in Computer Science because of it. I'm feeling so grateful
            because I have a chance to study in one of the best university in
            Indonesia.
          </p>
          <div class="row padding">
            <div class="col-12 social padding">
              <a
                href="https://www.facebook.com/pwigunarta"
                class="fa fa-facebook"
                target="_blank"
              ></a>
              <a
                href="https://www.instagram.com/putu.wig/"
                class="fa fa-instagram"
                target="_blank"
              ></a>
              <a
                href="https://www.linkedin.com/in/putu-wigunarta-16ba57192/"
                class="fa fa-linkedin"
                target="_blank"
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
          <img src="{% static 'img/JP401.png' %}" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padding education">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4 judulOren">My Education</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-4 kartu2">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/smpn41.png' %}" />
          <div class="card-body">
            <h4 class="card-title">SMPN 41 Jakarta</h4>
            <p class="card-text">
              In SMPN 41 Jakarta, I only experienced about 2 years of school
              because I join the acceleration program
            </p>
            <a
              href="http://www.smpn41-jkt.sch.id/"
              class="btn btn-primary"
              target="_blank"
              >See Website</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 kartu2">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/sman38.png' %}" />
          <div class="card-body">
            <h4 class="card-title">SMAN 38 Jakarta</h4>
            <p class="card-text">
              In SMAN 38 Jakarta, I'm feeling the most memorable experience that
              i had with my friend in school
            </p>
            <a
              href="https://sman38jakarta.sch.id/"
              class="btn btn-primary"
              target="_blank"
              >See Website</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 kartu2">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/ui.png' %}" />
          <div class="card-body">
            <h4 class="card-title">Universitas Indonesia</h4>
            <p class="card-text">
              A new Journey of my life, where i finally can reach one of my
              dreams to study in the best university in Indonesia
            </p>
            <a
              href="https://www.ui.ac.id/"
              class="btn btn-primary"
              target="_blank"
              >See Website</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padding project" id="experience">
    <h1 class="display-4 judulPutih alittle">My Project</h1>
    <div class="container-fluid kartu">
      <div class="row padding">
        <div class="col-lg-6 textproject">
          <p>
            Coronaware is a project that I create with my other 3 friends in
            University. At the begining, this project was a task from My
            lecturer from the Programing Foundation 2 courses.
          </p>
          <p>
            It was a fun experience to create a web in a team. Especially, when
            I already close with my teammates.
          </p>
          <a
            href="https://hapscoronaware.herokuapp.com/"
            class="btn btn-primary btnproject"
            target="_blank"
            >See Website</a
          >
        </div>
        <div class="col-lg-6 d-flex justify-content-center photoproject">
          <img
            src="{% static 'img/coronaware.png' %}"
            class="img-fluid coronaware"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padding project2">
    <div class="container-fluid kartu3">
      <div class="col-lg-12 d-flex justify-content-center">
        <img src="{% static 'img/logo hitam.png' %}" class="img-fluid aegis" />
      </div>
      <div class="col-lg-12 textaegis">
        <p>
          Aegis is a startup that mostly take a part in Esport community. It is
          one of the biggest esport educational platform in Indonesia. It goals
          is to educate Indonesia esport player so they can develop their hobby
          and become professional faster and much easier. Esport itself is a
          community where people playing video games competitively.
        </p>
        <p>
          My role in this startup is as a Designer. I'm mostly working on Video
          Editing and I got alot of experience there. After three months of
          internship, I learn about time management, how to work in a team, and
          about video editing itself.
        </p>
      </div>
    </div>
  </div>

  <footer>
    <div class="container-fluid padding footer">
      <div class="col-lg-12 text-center">
        <h5 class="display-3 judulPutih">Keep in Touch!</h5>
        <h3 class="display-5 putih">
          <a href="mailto:pwigunarta@gmail.com" class="putih">Email</a> me for
          business Inquiries
        </h3>
      </div>
      <div class="row padding">
        <div class="col-12 social padding d-flex justify-content-center">
          <a
            href="https://www.facebook.com/pwigunarta"
            class="fa fa-facebook"
            target="_blank"
          ></a>
          <a
            href="https://www.instagram.com/putu.wig/"
            class="fa fa-instagram"
            target="_blank"
          ></a>
          <a
            href="https://www.linkedin.com/in/putu-wigunarta-16ba57192/"
            class="fa fa-linkedin"
            target="_blank"
          ></a>
        </div>
      </div>
    </div>
  </footer>
  {% endblock content %}
</html>
