{% extends 'base.html' %}{% load static %}

{% block meta %}
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'css/index.css' %}" />

  <title>Story3 Putu</title>
{% endblock meta %}

{% block content%}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid">
  <a class="navbar-brand" href="/"
      ><span class="oren">PW</span>igunarta</a
  >
  <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
  >
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/form">Add Data</a>
    </li>
      </ul>
  </div>
  </div>
</nav>

<div class="container-fluid table-responsive">
  <h1 class="judulOren d-flex justify-content-center padding judulForm">List Mata Kuliah di Database</h1>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nama Matkul</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {% if obj %}
        {% for mataKuliah in obj %}
            <tr>
              <td>{{mataKuliah.namaMatkul}}</td>
              <td>
                <a href='{{mataKuliah.get_detail_url}}'>Detail</a>  
              </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
</div>

{% endblock content%}