{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block meta %}
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{% static 'css/story1.css' %}" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <title>Story 1 Putu</title>
  {% endblock meta %} {% block content %}
  <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><span class="oren">PW</span>igunarta</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/CV">My CV</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="intro">
    <div class="rounded">
      <img src="{% static 'img/foto1.jpg' %}" />
    </div>
    <h1>Putu Wigunarta</h1>
    <h3>
      Halo kenalkan namaku Putu Wigunarta dan teman-temanku biasa memanggilku
      Putu.<br />
      Aku lahir di Jakarta pada 30 November 2001 dan sejak kecil hidup di
      Jakarta.<br />
      Aku saat ini sedang berkuliah di Universitas Indonesia jurusan Ilmu
      Komputer.<br />
      Aku memiliki minat dalam grafik desain dan UI/UX. Scroll untuk tau lebih
      banyak tentangku.
    </h3>
    <a
      href="https://www.facebook.com/pwigunarta/"
      class="fa fa-facebook"
      target="_blank"
    ></a>
    <a
      href="mailto:putu.wigunarta@ui.ac.id"
      class="fa fa-google"
      target="_blank"
    ></a>
    <a
      href="https://www.linkedin.com/in/putu-wigunarta-16ba57192/"
      class="fa fa-linkedin"
      target="_blank"
    ></a>
    <a
      href="https://www.instagram.com/putu.wig/"
      class="fa fa-instagram"
      target="_blank"
    ></a>
  </section>

  <section class="biodata">
    <div class="judul">Biodata</div>
    <div class="subjudul">Tempat Kuliah: Universitas Indonesia</div>
    <div class="subjudul">Nama : Putu Wigunarta</div>
    <div class="subjudul">NPM: 1906307145</div>
    <div class="subjudul">Angkatan: 2019</div>
    <div class="subjudul">Hobi: Eat Sleep Dota</div>
  </section>
  <section class="riwayat">
    <div class="judul">Riwayat Pendidikan</div>
    <div class="subjudul">SD</div>
    <div class="sekolah">SDS Desa Putera</div>
    <div class="subjudul">SMP</div>
    <div class="sekolah">SMPN 41 Jakarta</div>
    <div class="subjudul">SMA</div>
    <div class="sekolah">SMAN 38 Jakarta</div>
    <div class="subjudul">Universitas</div>
    <div class="sekolah">Universitas Indonesia</div>
  </section>
  {% endblock content %}
</html>
